[Unit]
Description=Run xmp.pm encrypted backup snapshot daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
